{{extend 'layout.html'}}

<h1>{{=issue.title}}</h1>
<i>{{=T("Created by: %s %s on %s", (issue.created_by_user.first_name, issue.created_by_user.last_name, str(issue.created_on)))}}</i><br>
{{if (issue.created_by, issue.created_on) != (issue.modified_by, issue.modified_on):}}
    <i>{{=T("Last modified by: %s %s on %s" , (issue.modified_by_user.first_name, issue.modified_by_user.last_name, str(issue.modified_on)))}}</i>
    {{pass}}
{{=MARKMIN(issue.body)}}
[ {{=A(T("edit"), _href=URL('edit', args=request.args))}}
| {{=A(T("documents"), _href=URL('attachments', args=request.args))}}]<br />

{{if attachments:}}
    <h3>{{=T("Attachments:")}}</h3>
    <ul>
    {{for att in attachments:}}
        {{=LI(A(att.name, _href=URL('download', args=att.doc)))}}
        {{pass}}
    </ul>
    {{pass}}

    <h2>{{=T("Status history")}}</h2>
    <ul>
        {{for stat in status_history:}}
            {{=LI(statuses[stat.stat_value], 
                I(T("Set by: %s %s on %s", (db.auth_user[stat.set_by].first_name, db.auth_user[stat.set_by].last_name, stat.set_on))),
                        )}}
            {{pass}}
    </ul>
    <h2>{{=T("New status")}}</h2>
    {{=new_status_form}}

{{def build_comment_view(comment):}}
{{if comment['body']:}}
    {{=LI(str(comment['created_by'])+' on '+str(comment['created_on'])+': '+str(comment['body']))}}
    {{pass}}
{{=comment['new_comment_form']}}
<ul>
    {{for child in comment['children']:}}
        {{build_comment_view(child)}}
        {{pass}}
</ul>
{{return}}


<ul>
    <h3>{{=T("Comments:")}}</h3>
    {{build_comment_view(comment_tree)}}
</ul>

    
    
    