{{extend 'layout.html'}}

<h1>{{=issue.title}}</h1>
{{=MARKMIN(issue.body)}}
[ {{=A(T("edit"), _href=URL('edit', args=request.args))}}
| {{=A(T("documents"), _href=URL('attachments', args=request.args))}}]<br />

{{if attachments:}}
    <h3>{{=T("Attachments:")}}</h3>
    <ul>
    {{for att in attachments:}}
        {{=LI(A(att.name, _href=URL('download', args=att.doc)))}}
        {{pass}}
    </ul>
    {{pass}}


{{def build_comment_view(comment):}}
{{if comment['body']:}}
    {{=LI(str(comment['created_by'])+' on '+str(comment['created_on'])+': '+str(comment['body']))}}
    {{pass}}
{{=comment['new_comment_form']}}
<ul>
    {{for child in comment['children']:}}
        {{build_comment_view(child)}}
        {{pass}}
</ul>
{{return}}


<ul>
    <h3>{{=T("Comments:")}}</h3>
    {{build_comment_view(comment_tree)}}
</ul>

    
    
    