{{extend 'layout.html'}}

<h1>{{=issue.title}}</h1>
[ {{=A('edit', _href=URL('edit', args=request.args))}}
| {{=A('attachments', _href=URL('attachments', args=request.args))}}]<br />
{{=MARKMIN(issue.body)}}
[ {{=A('edit', _href=URL('edit', args=request.args))}}
| {{=A('attachments', _href=URL('attachments', args=request.args))}}]<br />

{{if attachments:}}
    <h3>Attachments:</h3>
    <ul>
    {{for att in attachments:}}
        {{=LI(A(att.name, _href=URL('download', args=att.doc)))}}
        {{pass}}
    </ul>
    {{pass}}
